<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">GoodTracks</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a> </li>
                <li><a href="/playlist">Playlist</a></li>
                <li><a href="/wishlist">Wish List</a></li>
                <li><a href="/listento">Listen To</a></li>
                <li><a href="/add">Add Album</a></li>
            </ul>
            <form method="post" action="/search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" name="searchQuery" class="form-control col-md-8" placeholder="Search">
                </div>
            </form>

        </div>
    </div>
</div>


<a href="{{discogsSearch}}" target="_blank">Not finding anything? Click here to search Discogs</a>
{{#if albums}}
    {{#each albums}}
        <div class="panel panel-default">
            <div class="panel-heading"><b>Album:</b> {{this.title}}</div>
            <div class="panel-body">
                <div class="col-md-3">
                    <img src="{{this.thumbnail}}">
                </div>
                <div class="col-md-9">
                <p>Artist(s):
                    {{#each this.artists}}
                        <span>/ {{this}} /</span>
                    {{/each}}
                </p>
                <p>Songs:
                    {{#each this.songs}}
                        <span>/ {{this}} /</span>
                    {{/each}}
                </p>
                <p>Release: {{this.releaseDate}}</p>

                <p>Genres:
                    {{#each this.genres}}
                        <span>/ {{this}} /</span>
                    {{/each}}
                </p>
                    <form method="post" action="/add-album" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="playlist" value="true"> Add to Playlist
                                    </label>
                                    <label>
                                        <input type="checkbox" name="wishlist" value="true"> Add to Wishlist
                                    </label>
                                    <label>
                                        <input type="checkbox" name="listeningTo" value="true"> Add to Listening To List
                                    </label>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                <input type="hidden" name="albumID" value="{{this.uniqueID}}">
                            </div>
                        </fieldset>
                        </form>

                </div>
            </div>
        </div>
    {{/each}}
{{/if}}